.expensesList {
    height: calc(100vh - 8rem);
    background-image: url("../../assets/background.png");
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 0;
    padding: 0;
    .empty-list {
      display: flex;
      justify-content: center;
      p {
        margin-top: 5rem;
        font-family: $fontMain;
        font-size: 3rem;
        font-weight: 700;
        color: $fontColor;
      }
    }
    .expense {
      padding: 0 4rem;
      list-style: none;
      display: flex;
      align-items: center;
      @media (max-width: 480px) {
        padding: 0 2rem;
      }
      p{
        width: 18%;
        font-size: 1.6rem;
        @media (max-width: 480px) {
            width: 25%;
            font-size: 1.4rem;
          }
      }
      p:nth-child(2) {
        width: 48%;
        @media (max-width: 480px) {
            width: 41%;
          }
      }
      span {
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 480px) {
            width: 13%;
          }
        .removePositionBtn {
          color: white;
          padding: 0.5rem 1rem;
          background-color: $detailsColor;
          border: 3px solid $detailsColor;
          border-radius: .3rem;
          margin-right: 2.1rem;
        }
      }
    }
    .main-row, .last-row {
      font-family: $fontMain;
      font-weight: 700;
      background-color: $detailsColor;
      color: white;
    }
    .table-row {
      position:relative;
      font-family: $fontList;
      &::before {
        content: "";
        position: absolute;
        left: 2rem;
        bottom: 0;
        width: calc(100% - 4rem);
        border-bottom: 3px solid $detailsColor;
      }
      p {
        color: $fontColor;
      }
    }
    .last-row {
      margin-top: 2rem;
      @media (max-width: 480px) {
        display: flex;
      }
      p:nth-child(1) {
        width: 48%;
        @media (max-width: 480px) {
            width: 38%;
          }
      }
      p:nth-child(2) {
        width: 18%;
        @media (max-width: 480px) {
            width: 25%;
          }
      }
      p:nth-child(3) {
        width: 18%;
        @media (max-width: 480px) {
            width: 20%;
          }
      }
      .removeAllBtn {
        color: white;
        padding: 0.5rem 2rem;
        border-radius: .3rem;
        background-color: $navBackgroundColor;
        border: 3px solid $navBackgroundColor;
        @media (max-width: 480px) {
            padding: 0.5rem 1rem;
          }
      }
    }
  }