$fontList: 'Open Sans Condensed', sans-serif;
$fontMain: 'Tomorrow', sans-serif;
$fontLogo: 'Press Start 2P', cursive;

$navBackgroundColor: #806509;
$headerColor: #FFCB12;
$detailsColor: #E6B610;
$fontColor: #404040;